body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.mi-border {
    border: 1px solid #39C0ED;
    border-radius: 8px;
}

.eolic-plants-list-container {
    width: 50%;
}

.new-plant-form-container {
    width: 50%;
}

#eolic-plants-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.mi-li {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

#eolic-plant-info {
    margin-right: 4%;
}